<!DOCTYPE html>
<html style="overflow-x:hidden;overflow-y:auto;">
	<head>
		[#include "/backend/include/header.htm"]
		<script src="${base}/static/js/admin/public/treeSelect.js" type="text/javascript"></script>
	</head>
<body>
<div class="container-fluid pad_t25">
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="/admin/org">部门列表</a></li>
            <li class="active"><a href="javascript:void(0);">部门添加</a></li>
        </ul>
    </div>

    <div class="row mar_t20">
        <form id="myform" method="post">
            <div class="input_group">
                <span class="input_text"><i class="red">*</i>上级部门：</span>
                  <input type="text" class="required" id="pname" value="[#if porg??]${porg.name}[/#if]" readonly="readonly" />
                <input type="hidden" name="pid" value="[#if porg??]${porg.id}[/#if]" id="pid" />
            </div>
            <div class="input_group">
                <span class="input_text"><i class="red">*</i>名称：</span>
                <input type="text" name="name" class="required" value="" />
            </div>
            <div class="input_group">
                <span class="input_text">负责人：</span>
                <input type="text" id="chiefName" name="chiefName" value="" readonly="" />
                <input type="hidden" id ="chiefId" name="chiefId" value="" />
            </div>
            <div class="input_group">
                <span class="input_text">上级领导：</span>
                <input type="text" id="higherName" name="higherName" value="" readonly="" />
                <input type="hidden" id="higherId" name="higherId" value="" />
            </div>
            <div class="input_group">
                <span class="input_text">排序：</span>
                <input type="text" name="sort" class="sort" value="" />
            </div>
            <div class="input_group">
                <span class="input_text">&nbsp;</span>
                <span class="text"><input type="submit" class="btn" value="提交"></span>
                <input type="hidden" name="id" value="" />
            </div>
        </form>
    </div>
</div>

<div id="treeDemo" style="width:300px;height:350px;display:none;" class="ztree"></div>
<script type="text/javascript" src="${base}/static/js/admin/org/org_add.js"></script>
<script type="text/javascript">
    $(function(){
        //选择上级部门
        $.treeSelect("/admin/org/tree_select","treeDemo","pname","pid");
        
        //选择管理员
        $("#higherName").adminSelect({
        	hiddedId:'higherId',
        	url:'/admin/admin/admin_select'
        });
    
        $("#chiefName").adminSelect({
        	hiddedId:'chiefId',
        	url:'/admin/admin/admin_select'
        });

    });
</script>

</body>
</html>