<!DOCTYPE html>
<html style="overflow-x:hidden;overflow-y:auto;">
<head>
[#include "/backend/include/header.htm"]
<script src="${base}/static/js/admin/public/treeSelect.js"
	type="text/javascript"></script>
</head>
<body>
	<div class="container-fluid pad25">
		<div class="row">
			<ul class="nav nav-tabs">
				<li><a href="/admin/camera">摄像头列表</a></li>
				<li class="active"><a href="javascript:void(0);">摄像头修改</a></li>
			</ul>
		</div>

		<div class="row mar_t20">
			<form id="myform" method="post" action="updatesave">
				<input type="hidden" name="id" class="required" value="${camera.id}" />
				<input type="hidden" name="userId" class="required"
					value="${camera.userId}" />
				<div class="input_group">
					<span class="input_text"><i class="red">*</i>摄像头名称：</span> <input
						type="text" name="camName" class="required" value="${camera.camName}" />
				</div>
				

				<div class="input_group" >
					<span class="input_text"><i class="red">*</i>设备序列号：</span> <input
						type="text" name="deviceSerial" id="deviceSerial"
						value="${camera.deviceSerial}" />
				</div>
				<div class="input_group">
					<span class="input_text"><i class="red">*</i>设备验证码：</span> <input
						type="text" name="validateCode" id="validateCode"
						value="${camera.validateCode}" />
				</div>
				
				<div class="input_group">
					<span class="input_text"><i class="red">*</i>通道号：</span> <input
						type="text" name="channelNo" id="channelNo" value="${camera.channelNo}" />
				</div>
				<div class="input_group">
					<span class="input_text"><i class="red">*</i>appkey：</span> <input
						type="text" name="appkey" id="appkey" value="${camera.appkey}" />
				</div>
				<div class="input_group">
					<span class="input_text"><i class="red">*</i>secret：</span> <input
						type="text" name="secret" id="secret" value="${camera.secret}" />
				</div>
				<div class="input_group">
					<span class="input_text">&nbsp;</span> <span class="text"><input
						type="submit" class="btn" value="提交"></span>
				</div>
			</form>
		</div>
	</div>

	<div id="treeDemo" style="width:300px;height:350px;display:none;"
		class="ztree"></div>

	<script type="text/javascript">
		$(function() {
			$("#myform").validate();
			//选择管理员

		});
	</script>

</body>