[#include "/fore/index/index_header.htm"]
<div class="main web_wrapper web_about_wrapper">
    <div class="w_1000 clearfloat">
        <div class="fl">[#include "/fore/web/left.htm"]</div>
        <div class="web_content fl">
            <div class="web_company_desc">
                <h2 class="title_header">网站简介</h2> 
                <p class="text_indent line_height">"找化工网"是化工行业一站式电商平台，专注为液体化工、精细化工领域的买卖双方提供撮合交易服务，致力打造成为中国最具价值的化工行业一站式电商平台。</p>  
                <p class="text_indent line_height">"找化工网"于2015年8月成立，隶属上海找化供电子商务有限公司，总部位于上海。本着“免费帮您找更便宜的货”的理念，“找化工网”通过互联网的高效方式，为上游供应商建立稳定销售渠道与平台，为下游采购方在最短时间内找到更便宜的货，减少了化工行业的交易环节和交易成本，提升了传统行业的运作效率；并以免费撮合交易为切入点，积累上下游资源和真实交易数据，通过大数据分析为行业服务的衍生奠定基础。</p>
                <p class="line_height"><strong>经营理念：</strong>免费帮您找更便宜的货</p>  
                <p class="line_height"><strong>愿景：</strong>打造中国最具价值的化工行业一站式电商平台</p>  
                <p class="line_height"><strong>使命：</strong>深度服务化工行业客户，为行业发展营造良性生态环境</p>     
                <p class="line_height"><strong>宗旨：</strong>客户第一，市场健康</p> 
                <p class="line_height"><strong>核心价值观：</strong>诚信、创新、团队、责任</p> 
                <p class="line_height"><strong>服务口号：</strong>只找对的，不买贵的</p>                                                                 
            </div>
          
        </div>
    </div>
</div>
[#include "/fore/common/common_footer.htm"]