[#include "/fore/index/index_header.htm"]
<link rel="stylesheet" type="text/css" href="${base}/static/css/home/web.css" />
<div class="up_top"><a></a></div>
<div class="cnmf">
    <div class="one">
        <div class="w">
            <img src="/static/image/home/web/cnmf/cnmf_pic1.jpg" alt="找化工网承诺撮合交易永远免费" />
            <img src="/static/image/home/web/cnmf/cnmf_pic2.jpg" alt="专业交易员贴心服务，只找对的，不买贵的" />
        </div>
    </div>
    <div class="two">
        <div class="w">
            <img src="/static/image/home/web/cnmf/cnmf_pic3.jpg" alt="做化工交易的您还在为收费服务苦恼吗" />
            <img src="/static/image/home/web/cnmf/cnmf_pic4.jpg" />
            <img src="/static/image/home/web/cnmf/cnmf_pic5.jpg" />
        </div>
    </div>
    <div class="three">
        <div class="w">
            <img src="/static/image/home/web/cnmf/cnmf_pic6.jpg" alt="来找化工网，统统免费" />
            <img src="/static/image/home/web/cnmf/cnmf_pic7.jpg" alt="撮合交易 发布资源 委托找货 行情资讯" />
            <img src="/static/image/home/web/cnmf/cnmf_pic8.jpg" />
        </div>
    </div>
    <div class="w">
        <img src="/static/image/home/web/cnmf/cnmf_pic9.jpg" alt="欢迎体验找化工网一对一的优质服务！" />
    </div>
</div>

[#include "/fore/common/common_footer.htm"]