[#include "/fore/index/index_header.htm"]
<div class="main web_wrapper">
    <div class="w_1000 clearfloat">
        <div class="fl">[#include "/fore/web/left.htm"]</div>
        <div class="web_content fl">
            <h2 class="title_header">联系我们</h2> 
            <p class="text_indent line_height"><label>公司地址：</label>江苏省常州市新北区通江中路266号浩源大厦2008室</p>  
            <p class="text_indent line_height"><label>联系人：</label>谢女士&nbsp;&nbsp;0519-85855760</p>
            <p class="text_indent line_height"><label>邮箱：</label>xiejing@zhaosuliao.com</p>                                                                      
        </div>
    </div>
</div>
[#include "/fore/common/common_footer.htm"]