<link rel="stylesheet" type="text/css" href="${base}/static/css/home/web.css" />
<div class="up_top"><a></a></div>
<div class="cnmf">
    <div class="one">
       <div class="w">
            <img src="/static/image/home/web/cnmf/fd1.jpg" style="no-repeat;" />
        </div>
    </div>
    <div class="two">
        <div class="w">
        	<img src="/static/image/home/web/cnmf/fd2.jpg" />
            <img src="/static/image/home/web/cnmf/fd3.jpg" />
        </div>
    </div>
    <div>
        <div  style="margin-left:3px;">
           <p class="fdtitle">真诚欢迎您对本单位的卫生计生宣传教育相关工作提出宝贵的意见和建议！</p>
           <p class="p2" style="color:blue;">一、邮箱反馈</p>
           <p class="p2">abc@163.com</p>
           <p class="p2" style="color:blue;">二、上门反馈</p>
           <p class="p2">单位地址：广州市天河区广汕一路332号省计划生育宣教信息大楼</p>
         </div>
    </div>
</div>
