[#include "/fore/index/index_header.htm"]
<div class="main web_wrapper web_about_wrapper">
    <div class="w_1000 clearfloat">
        <div class="fl left">
            <div class="fl_box">
                <p>注册相关</p>
                <ul>
                    <li><a href="javascript:void(0)" data-trade="#trade01">注册流程</a></li>
                    <li><a href="javascript:void(0)" data-trade="#trade02">忘记密码</a></li>
                    <li><a href="javascript:void(0)" data-trade="#trade03">修改账户信息</a></li>
                </ul>
                <p>交易相关</p>
                <ul>
                    <li><a href="javascript:void(0)" data-trade="#trade04">如何买货</a></li>
                    <li><a href="javascript:void(0)" data-trade="#trade05">委托买货</a></li>
                    <li><a href="javascript:void(0)" data-trade="#trade06">查看采购单</a></li>
                    <li><a href="javascript:void(0)" data-trade="#trade07">自己找货</a></li>
                    <li><a href="javascript:void(0)" data-trade="#trade08">如何卖货</a></li>
                    <li><a href="javascript:void(0)" data-trade="#trade09">单条发布报价</a></li>
                    <li><a href="javascript:void(0)" data-trade="#trade10">批量发布报价</a></li>
                    <li><a href="javascript:void(0)" data-trade="#trade11">更新编辑报价</a></li>
                </ul>
            </div>
        </div>
        <div class="web_content fl">
            <p class="title">注册相关</p>
            <p class="p1 pt" id="trade01">一、注册流程</p>
            <p class="p2">1. 点击网站首页左边顶部“免费注册”，进入注册页面，如下图红框位置。</p>
            <img src="/static/image/home/help/01.png" width="770" />
            <p class="p2">2. 进入注册页面，按注册引导步骤，填写手机号码、验证码，并点击免费获取短信验证码，找化工网将向您的手机发送一条含有验证码的短信；在您收到短信后，将短信中的验证码填写到页面中，并同意《找化工网用户服务协议》后点击提交，即可进入下一步。由于受网络及运营商信号影响，短信可能会稍有延迟。若您在60秒内尚未受到验证码，您可以点击重新获取。</p>
            <p class="p2">由于受网络及运营商信号印象，短信可能会稍有延迟。若您在60秒内尚未受到验证码，您可以点击重新获取。</p>
            <img src="/static/image/home/help/02.png" width="770" />
            <p class="p2">3. 完善个人资料，填写登录密码，确认登录密码，填写真实姓名、公司名称等信息后完成注册。</p>
            <img src="/static/image/home/help/03.png" width="770" />
            <img src="/static/image/home/help/04.png" width="770" />
            <p class="p1 pt" id="trade02" name="02">二、 无法登录/忘记密码</p>
            <p class="p2">1. 在会员登录界面，点击[忘记登录密码]，进入密码找回界面</p>
            <img src="/static/image/home/help/05.png" width="770" />
            <p class="p2">2. 在找回密码界面内，输入您注册时使用的手机号、验证码，并点击免费获取短信验证码。获得并输入验证码后，点击找回密码按钮，进入下一步操作。</p>
            <img src="/static/image/home/help/06.png" width="770" />
            <p class="p2">3. 进入密码重置界面后，输入并确认新密码，即可将原密码替换成新密码。两次输入的密码必须完全相同，且不与原密码重复。</p>
            <img src="/static/image/home/help/07.png" width="770" />
            <p class="p2">4. 完成修改新密码后，即可使用新密码登录找化工网。</p>
            <img src="/static/image/home/help/08.png" width="770" />
            <p class="p1 pt" id="trade03" name="03">三、 修改账户信息</p>
            <p class="p2">1. 登录找化工网，并点击页面顶部[会员中心]进入会员管理后台。</p>
            <img src="/static/image/home/help/18.png" width="770" />
            <p class="p2">2.进入会员中心后，点击左侧“帐户管理-帐户信息”进入修改账户信息模块。您可以在这里修改账号信息中基础联系方式等信息，添加新公司资料、修改已有公司的公司信息并保存。”</p>
            <img src="/static/image/home/help/09.png" width="770" />
            <img src="/static/image/home/help/10.png" width="770" />
            <p class="title" style="margin:50px 0 25px 0">交易相关</p>
            <p class="p1 pt" id="trade04">一、 如何买货</p>
            <p class="p2 pt" id="trade05">在找化工网，您可以通过两种方式进行找货：1.委托找化工网人工帮您找货；2.自己找货</p>
            <p class="p2">1. 您可以通过以下任意方式免费委托我们人工帮您找货：</p>
            <p class="p2">a. 网页发布采购信息：</p>
            <p class="p2">在找化工网首页右侧免费发布采购信息、会员中心的采购信息管理都能发布采购需求，直接填写您的真实需求,包含品类、数量、单价、交割库、交割时间等，点击“免费发布”便可完成； </p>
            <img src="/static/image/home/help/11.png" />
            <img src="/static/image/home/help/14.png" width="770" />
            <p class="p2">b. 您也可以直接拨打客服电话：021-60317569，我们专业的业务人员会代您提交采购需求。</p>
            <!-- 
            <p class="p2 pt" id="trade06">您可以进入“会员中心-我的采购”查看发布的采购单情况。</p>
            <img src="/static/image/home/help/15.png" width="770" />  -->
          
            <p class="p2 pt" id="trade06">2. 您可以进入“会员中心-采购信息管理”查看自己发布的采购信息情况。</p>
            <img src="/static/image/home/help/20.png" width="770" />
            <p class="p2 pt" id="trade07">3. 我自己找货</p>
            <p class="p2">您可以从供应资源或供应商栏目中，通过搜索您需要的品类，自己联系卖家进行交易，此过程找化工网为您提供报价共享服务，不对您线下交易发生的任何问题负责。</p>
            <p class="p1 pt">二、 供应信息</p>
            <p class="p2">作为商家，您可以通过以下两种方式在找化工网销售化工原料：</p>
            <p class="p2 pt" id="trade08">1. 发布供应资源</p>
            <p class="p2">您可以在会员中心的“供应资源管理”页面，点击“发布供应资源”，通过填写品种、价格、数量、交割库区、交割时间等信息进行供应资源的发布。</p>
            <img src="/static/image/home/help/12.png" width="770" />
            <p class="p2 pt" id="trade09">2.批量发布资源</p>
            <p class="p2">您可以通过会员中心的“供应资源管理”，点击“批量发布资源”，将找化工提供资源录入模板下载，并将您的信息按格式填入，上传后，您的供应信息将会在找化工网站中展示。</p>
            <img src="/static/image/home/help/13.png" width="770" />
            <p class="p2 pt" id="trade10">3. 维护供应信息</p>
            <p class="p2">您还可以及时更新报价信息：</p>
            <p class="p2">上传的供应信息过期后不显示在网站中，请及时修改供应信息价格和其他信息；您还可以重新上传新的供应信息，系统只保留最近一次上传的供应信息。您还可以及时更新供应信息，包括对供应信息进行发盘、撤盘、删除、更新时间等。</p>
            <p class="p2 pt" id="trade11"></p>
            <img src="/static/image/home/help/16.png" width="770" />
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $(".fl_box a").click(function() {
            $(".fl_box a").removeClass("on");
            $(this).addClass("on");
        });
        var h = $(".fl_box").offset().top;
        var r_h = 7319;
        var l_h = $(".left").outerHeight();
        setTimeout(function(){
    
            if ($(window).scrollTop() >= h) {

                $(".fl_box").css({
                    'position': 'fixed',
                    'top': 0
                });
                if ($(window).scrollTop() >= r_h - l_h + 200) {
                    $(".fl_box").css({
                        'top': r_h - l_h + 200 - $(window).scrollTop()
                    });
                }
            } else {
                $(".fl_box").css({
                    'position': 'static'
                });
            }            
        }, 300);
     
        var arr = [];
        $(".pt").each(function() {
            arr.push($(this).offset().top);
        });

        $(".fl_box a").click(function() {
            var idx = $(".fl_box a").index($(this));
            $("html,body").animate({
                scrollTop: arr[idx]
            });
        });

        var setNavActive = function(hash){
            var hash = $.trim(window.location.hash),
                $target = $("[data-trade=\"" + hash + "\"]");

            $(".fl_box a").removeClass("on");    
            if(!$target.length){
                $target = $("[data-trade]").first();
            }
            $target.addClass("on");  
        };
        setNavActive();
        var oldHash = $.trim(window.location.hash);
        var isHashChanged = function(){
            var result = false,
                newHash = $.trim(window.location.hash);

            if(oldHash !== newHash){
                result = true;  
                oldHash = newHash; 
            }

            return result;
        };
        setInterval(function() {
            if(isHashChanged()){
                setNavActive();    
            }
        }, 200); 

           $(window).scroll(function() {
            if ($(window).scrollTop() >= h) {
                $(".fl_box").css({
                    'position': 'fixed',
                    'top': 0
                });
                if ($(window).scrollTop() >= r_h - l_h + 200) {
                    $(".fl_box").css({
                        'top': r_h - l_h + 200 - $(window).scrollTop()
                    });
                }
                for(var i=0;i<arr.length;i++){
                  if($(window).scrollTop()+80>=arr[i]){
                     $(".fl_box a").removeClass("on");
                     $(".fl_box a").eq(i).addClass("on");
                  }
                }
            } else {
                $(".fl_box").css({
                    'position': 'static'
                });
            }
        });


    });
</script>
[#include "/fore/common/common_footer.htm"]

