[#include "/fore/index/index_header.htm"]
<div class="main web_wrapper web_job_wrapper">
    <div class="w_1000 clearfloat">
        <div class="fl">[#include "/fore/web/left.htm"]</div>
        <div class="web_content fl">
            <h2 class="title_header">诚聘英才</h2> 
            <p class="text_indent line_height"><strong>化工品交易员</strong></p>  
            <p class="text_indent line_height">职位描述:</p>
            <div class="text_indent line_height">
                <ol>
                    <li>1、负责新客户的沟通和开发；</li>
                    <li>2、寻找合适资源或客户进行撮合交易；</li>
                    <li>3、完成公司下达的各项月度目标业绩；</li>
                    <li>4、维护老客户的业务，挖掘客户潜力；</li>
                    <li>5、定期与合作客户进行沟通，建立良好的合作关系。</li>
                </ol>
            </div> 
            <p class="text_indent line_height">任职要求：</p>
            <div class="text_indent line_height">
                <ol>
                    <li>1、口齿清晰，普通话流利，具有亲和力；</li>
                    <li>2、对销售工作有较高的热情，有责任心，有团队协作精神；</li>
                    <li>3、反应敏捷、表达能力强，具备较强的学习能力和优秀的沟通能力；</li>
                    <li>4、性格坚韧，思维敏捷，具备良好的应变能力和承压能力；</li>
                    <li>5、欢迎大专及以上优秀应届毕业生；</li>
                    <li>6、热爱互联网行业；</li>
                    <li>7、有液体化工品，例如：乙二醇、苯乙烯、甲苯、二甲苯、甲醇等产品销售或撮合经验者优先。</li>
                </ol>
            </div> 
            <p class="border_line">&nbsp;</p>  
            <p class="text_indent line_height"><strong>化工品交易总监</strong></p>  
            <p class="text_indent line_height">职位描述:</p>
            <div class="text_indent line_height">
                <ol>
                    <li>1、按照公司的经营目标，完成公司业绩及团队组建；</li>
                    <li>2、负责交易团队的管理和考核，协助团队完成液体化工品（乙二醇、苯乙烯、甲苯、二甲苯、甲醇等产品）撮合工作；</li>
                    <li>3、负责推广当地大客户的液体化工品，促使供求双方之间建立长期稳定的合作关系。</li>
                </ol>
            </div> 
            <p class="text_indent line_height">任职要求：</p>
            <div class="text_indent line_height">
                <ol>
                    <li>1、本科以上学历，五年以上液体化工品销售工作经验，有丰富的销售和团队管理经验；</li>
                    <li>2、熟悉当地液体化工市场及相关产业，有上下游渠道、资源者优先考虑；</li>
                    <li>3、有较强的沟通能力、市场开拓能力。</li>
                </ol>
            </div>
            <p class="border_line">&nbsp;</p>  
            <p class="text_indent line_height"><strong>薪酬与福利：</strong></p> 
            <div class="text_indent line_height">
                <ol>
                    <li>1、有竞争力的薪水，奖金丰厚；</li>
                    <li>2、5天工作制，享有法定节假日及带薪年假；</li>
                    <li>3、免费提供午餐，全天免费供应咖啡、饮料；</li>
                    <li>4、完善的保险及公积金制度（五险一金，商业保险计划）；</li>
                    <li>5、丰富多彩的文体活动：羽毛球活动、月度生日活动等；</li>  
                    <li>6、年度体检、旅游计划，生日礼金；</li> 
                    <li>7、年底双薪。</li>                     
                </ol>
            </div>
            <p class="border_line">&nbsp;</p>  
            <p class="text_indent line_height"><strong>联系信息：</strong></p> 
            <p class="text_indent line_height"><label>联系人：</label>叶先生</p>  
            <p class="text_indent line_height"><label>联系电话：</label>021-60317569</p>
            <p class="text_indent line_height"><label>E-mail：</label>yeyun@zhaohuagong.com</p>                                                                              
        </div>
    </div>
</div>
[#include "/fore/common/common_footer.htm"]