<div class="main web_wrapper web_about_wrapper">
    <div class="w_1000 clearfloat">
    	<div>
	       <div style="align:center;">
	            <img src="/static/image/home/web/cnmf/fd1.jpg" style="margin:8% 8% auto;center;no-repeat;text-align:center;" />
	        </div>
	    </div>
        <div class="web_content fl">
            <div class="web_company_desc">
                <h2 class="title_header">单位简介</h2> 
                <p class="text_indent line_height">广东省计划生育宣传教育中心成立于1984年5月，直属广东省人口和计划生育委员会领导，正（县）处级公益一类事业单位。</p>  
                <p class="text_indent line_height">内设人事秘书科、行政财务科、广播电视宣传科、报刊宣传科、图文宣传科、教育培训科、宣传品发行科、设备科8个科室。</p>
                <p class="text_indent line_height">主要任务：</p>
                <p class="line_height" style="margin-left:35px;"><strong>1.</strong>承担宣传党和国家计划生育方针政策，宣传人口和计划生育先进单位、先进个人的事迹；</p>  
                <p class="line_height" style="margin-left:35px;"><strong>2.</strong>制作管理婚、育、孕、性等方面的宣传品；</p>  
                <p class="line_height" style="margin-left:35px;"><strong>3.</strong>编辑出版省人口和计划生育委员会主管的内部机关报《人口快讯》；</p>     
                <p class="line_height" style="margin-left:35px;"><strong>4.</strong>承办电视、电台和相关媒体人口与计划生育专栏节目；</p> 
                <p class="line_height" style="margin-left:35px;"><strong>5.</strong>承办人口与计划生育有关业务教育培训工作；</p> 
                <p class="line_height" style="margin-left:35px;"><strong>6.</strong>承担广东省科学育儿指导中心具体工作；</p>   
                <p class="line_height" style="margin-left:35px;"><strong>7.</strong>承担国际上有关人口与计划生育宣传方面的合作项目；</p>   
                <p class="line_height" style="margin-left:35px;"><strong>8.</strong>承办省人口和计划生育委员会交办的其他工作任务。</p>                                                                  
            </div>
          
        </div>
        <div style="margin-top:50px;">
        	 <p class="line_height" style="margin-left:35px;"><strong>单位地址：</strong></p> 
	       <div style="align:center;">
	            <img src="/static/image/home/web/cnmf/about.png" style="margin:3% 8% auto;center;no-repeat;text-align:center;" />
	        </div>
	    </div>
	    <div style="height:50px;"></div>
    </div>
</div>