[#include "/fore/index/index_header.htm"]
<link rel="stylesheet" type="text/css" href="${base}/static/css/home/web.css" />

<div class="up_top"><a></a></div>
<div class="zp">
    <!-- banner -->
    <div class="banner"><span>【化工品交易总监】&nbsp;【化工品交易员】</span></div>
    <!-- 你需要 -->
    <div class="one" style="padding-top:49px;">
        <p class="title"><span class="a"></span></p>
        <ul>
            <li><span class="ico1"></span>两年以上化工从业经验</li>
            <li style="border:none;"><span class="ico2"></span>出众的沟通能力</li>
            <li><span class="ico3"></span>有一定客户资源</li>
            <li style="border:none;"><span class="ico4"></span>有梦想、有活力</li>
        </ul>
    </div>
    <!-- 我们会给你 -->
    <div class="one">
        <p class="title"><span class="b"></span></p>
        <ul>
            <li><span class="ico5"></span>行业双倍薪酬</li>
            <li style="border:none;"><span class="ico6"></span>五险一金、带薪年假</li>
            <li><span class="ico7"></span>极速晋升体制</li>
            <li style="border:none;"><span class="ico8"></span>员工期权</li>
        </ul>
    </div>
    <!-- more -->
    <div class="more">
        <div class="button"><a href="/web/job"></a></div>
    </div>
</div>
[#include "/fore/common/common_footer.htm"]