<!DOCTYPE html>
<html style="overflow-x:hidden;overflow-y:auto;">
	<head>
  	[#include "/backend/include/header.htm"]
	<script type="text/javascript">
		$(document).ready(function() {
			
			var $isRememberUsername = $("#rememberMe");
			var $username = $("#username");
			var $password = $("#password");
			
			// 用户账户密码验证
			$("#loginForm").submit( function() {
				if ($username.val() == "") {
					layer.tips("用户名不能为空",$username);
					return false;
				}
				if ($password.val() == "") {
					layer.tips("密码不能为空",$password);
					return false;
				}
				
			});
		});
		// 
		if(self.frameElement && self.frameElement.tagName=="IFRAME"){
			parent.location.reload();
		}
	</script>

	</head>
<body class="login_body">
    <div class="login_wrapper">
        <h1>物联网管理平台</h1>
        <div class="login_content">
            <form id="loginForm" method="post" action="/admin/main/login">
                <div class="list_b05">
                    <ul>
                        <li class="clearfix">
                            <label>账号：</label>
                            <input type="text" id="username" name="username" maxlength="20" class="te_c16" />
                        </li>
                        <li class="clearfix">
                            <label>密码：</label>
                            <input type="password" id="password" name="password" maxlength="20" class="te_c16" />
                        </li>
                        <li class="clearfix">
                            <label>&nbsp;</label>
                            <input type="submit" value="登录" class="sl_c10" />
                            <a style="margin-left: 15px;" href="/register">注册</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>        
    </div>
</body>
</html>
