<!DOCTYPE html>
<html style="overflow-x:hidden;overflow-y:auto;">
	<head>
	<title>主页</title>
	[#include "/backend/include/header.htm"]
	<script src="${base}/static/js/admin/public/treeSelect.js" type="text/javascript"></script>
<body>
<div class="container-fluid pad_t25">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a href="javascript:void(0);">用户列表</a></li>
            <li><a href="/admin/admin/add">用户添加</a></li>
        </ul>
    </div>

    <div class="row mar_t20 bg_grey pad25">
        <form id="searchForm">
        	<input id="pageNo" name="pageNo" type="hidden" value="${pageList.page.pageNo!0}"/>
			<input id="pageSize" name="pageSize" type="hidden" value="${pageList.page.pageSize!0}"/>
            <div class="line">
                <div class="line_group">
                    <span class="inp_text">归属部门：</span>
                    <input class="inp_inp" type="text" name="orgName" id="org_name" value="${gylAdminDto.orgName}" readonly="readonly" />
                    <input type="hidden" name="orgId" id="org_id" value="${gylAdminDto.orgId}" />
                </div> 
                <div class="line_group">
                    <span class="inp_text">用户名：</span>
                    <input class="inp_inp" type="text" name="username" value="${gylAdminDto.username}" />
                </div>
                <div class="line_group">
                    <span class="inp_text">姓名：</span>
                    <input class="inp_inp" type="text" name="name" value="${gylAdminDto.name}" />
                </div> 
                <div class="line_group">
                    <span class="inp_text"><input type="submit" class="btn" value="提交"/></span>
                </div>
            </div>
        </form>
    </div>

    <div class="row mar_t20">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">归属部门</th>
                    <th class="text-center">岗位</th> 
                    <th class="text-center">登录名(姓名)</th>
                    <th class="text-center">性别</th>
                    <th class="text-center">手机</th>
                   <!--  <th class="text-center">固定电话</th>
                    <th class="text-center">分机号码</th> -->
                    <th class="text-center">qq</th>
                    <th class="text-center">email</th>
                    <th class="text-center">角色</th>
                    <th class="text-center">状态</th>
                    <!-- <th class="text-center">入职时间</th> -->
                    <th class="text-center">注册时间</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>
                [#list pageList as v]
                <tr>
                    <td class="text-center">${v.org.name}</td>
                    <td class="text-center">${v.duty.name}</td>
                    <td class="text-center">${v.username}</td>
                    <td class="text-center">${v.getSexValue()}</td>
                    <td class="text-center">${v.mobile}</td>
                    
                    <td class="text-center">${v.qq}</td>
                    <td class="text-center">${v.email}</td>
                    <td class="text-center">${v.role.name}</td>
                    <td class="text-center">[#if v.flag==1]正常[#else]删除[/#if]</td>
                   
                    <td class="text-center">[#if v.createTime??]${v.createTime?string("yyyy-MM-dd hh:mm:ss")}[/#if]</td>
                    <td class="text-center">
                        <a href="${base}/admin/admin/edit?id=${v.id}">修改</a>
                        <a data-id="${v.id}" class="delete" href="javascript:void(0);">删除</a>
                    </td>
                </tr>
                [/#list]           
            </tbody>
        </table>
    </div>

    <ul class="pagination pull-right">${pageList.page}</ul>

    <div id="treeDemo" style="width:300px;height:350px;display:none;" class="ztree"></div>
</div>
<script type="text/javascript">
	function page(n,s){
		$("#pageNo").val(n);
		$("#pageSize").val(s);
		$("#searchForm").submit();
		return false;
	}
    $(function(){
    	
        //选择管理员
        $.treeSelect("/admin/org/tree_select","treeDemo","org_name","org_id");

        //删除
        $(".delete").on("click",function(){
            var $this=$(this);
            layer.confirm('确定删除？',{icon: 5},function(){
                $.getJSON("${base}/admin/admin/delete",{"id":$this.data("id")},function(rs){
                    layer.msg(rs.msg,function(){
                        if(rs.status>0){
                            location.reload();
                        }
                    });
                });
            });
        });
        
    });
</script>
</body>
</html>